body {
	background-color: #f4f4f4;
	color:#555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}
B
.clr {
	clear: both;
}

#big-box .container2 {
	width:55%;
	margin:auto;
	overflow: hidden;
	background-color: LightSlateGrey;
	background:rgba(180,180,180,0.7);


}

.container h1 {
	text-align: center;
}

#main-header {
	background-color: coral;
	color:#fff;
}

#navbar {
	background-color: #333;
	color: white;

}

#navbar ul {
	margin-left: 350px;
	padding: 0;
	list-style: none;

}

#navbar li {
	text-align: center;
	padding:20px;
	display: inline;
}

#navbar a {
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right: 15px;
}

#big-box {
	background-image: url(star.jpg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0px 400px 0px 0px;
	min-height: 700px;
}

#big-box .container2 .pic {
	float:left;
	width:30%;
	padding:0 40px 0 0;
	box-sizing: border-box;
	opacity: 1;
}

#big-box .container2 .pic img{
	margin: auto;
	padding: 40px;
	opacity: 1;

}

#big-box .container2 .bio {
	float:left;
	width:70%;
	position: relative;
	top: 20px;
	padding-left: 70px;
	box-sizing: border-box;
	opacity: 1;
}


#big-box .container2 .bio p{
	position: relative;
	line-height: 1.8em;
	color: black;
	padding-left: 100px;
	padding-right: 100px;
	text-align: justify;

}

#big-box .container2 .bio a{
	text-decoration: none;
	color: black;

}

#big-box .container2 .bio a:hover{
	color: MidnightBlue;

}



.button {
	color:white;
	border:none;
}

#navbar .container .button:hover {
	color:coral;
}


#showcase {
	background-image: url(howsmall.jpg);
	background-position: center center;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1 {
	color:#fff;
	font-size:50px;
	line-height: 1.6em;
	padding-top: 30px;

}

#main {
	float:left;
	width:70%;
	padding:0 40px 0 0;
	box-sizing: border-box;
}

#sidebar {
	float:left;
	margin-top:10px;
	color:white;
	width:30%;
	box-sizing: border-box;
}

 #main-footer {
 	background:#333;
 	color:#fff;
 	text-align: center;
 	padding:20px;
 	margin-top:40px;
 }

 @media(max-width: 600px){
 	#main {
 		width:100px;
 		float:none;
 	}
 	#sidebar {
 		width:100px;
 		float: none;

 	}
 }








